@charset "UTF-8";
@font-face { font-family:pretendard; src:url('Pretendard-Regular.woff2') format('woff2'), url('Pretendard-Regular.woff') format('woff'), url('Pretendard-Regular.otf') format('opentype'), url('Pretendard-Regular.ttf') format('truetype'); font-weight:400; }
@font-face { font-family:pretendard; src:url('Pretendard-SemiBold.woff2') format('woff2'), url('Pretendard-SemiBold.woff') format('woff'), url('Pretendard-SemiBold.otf') format('opentype'), url('Pretendard-SemiBold.ttf') format('truetype'); font-weight:600; }
@font-face { font-family:pretendard; src:url('Pretendard-Bold.woff2') format('woff2'), url('Pretendard-Bold.woff') format('woff'), url('Pretendard-Bold.otf') format('opentype'), url('Pretendard-Bold.ttf') format('truetype'); font-weight:800; }

*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) { all:unset; display:revert; }
*, *::before, *::after { box-sizing:border-box; font:inherit; }
html, body { width:100%; min-height:100%; }
a, button, label, input:is([type=radio], [type=checkbox]) { cursor:pointer; }
ol, ul, menu { list-style:none; }
table { border-collapse:collapse; border-spacing:0; }
input, textarea { -webkit-user-select:auto; user-select:auto; }
textarea { white-space:revert; }
meter { -webkit-appearance:revert; appearance:revert; }
u { text-decoration:revert; text-underline-position:under; }
::placeholder { color:unset; }
:where([hidden]) { display:none; }
:where([contenteditable]) { -moz-user-modify:read-write; -webkit-user-modify:read-write; overflow-wrap:break-word; -webkit-line-break:after-white-space; line-break:after-white-space; -webkit-user-select:auto; user-select:auto; }
:where([draggable="true"]) { -webkit-user-drag:element; }
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button { -webkit-appearance:none; appearance:none; margin:0; }
button { text-align:center; }

:root { font-size:16px; line-height:1; font-family:pretendard; }
body { position:relative; min-width:340px; background-color:#111; font-size:1rem; color:#ddd; }
body .eng, body.eng .kor { display:none; }
body.eng .eng { display:block; }

.dim { position:fixed; display:none; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,.6); z-index:10; padding:1rem; }
.dim.active { display:block; }
.dim:after { content:'화면을 클릭 또는 터치하시면 닫힙니다.'; position:absolute; top:0; left:0; width:100%; padding:0.5rem; background-color:#444; text-align:center; }
body.eng .dim:after { content:'Click or touch anywhere to close.'; }
.dim img { position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); max-width:calc(100% - 2rem); max-height:calc(100% - 4rem); }

nav, article { max-width:60rem; margin:0 auto; }
nav { position:sticky; display:flex; top:0; background-color:#222; }
nav:before { content:''; position:fixed; top:0; left:0; width:100%; height:3rem; background-color:#222; z-index:-1; }
nav button { padding:1rem; transition:all .1s ease-in-out; }
nav button.active { background-color:#333; font-weight:600; }
nav button.lchange { margin-left:auto; padding-left:2.5rem; background-image:url('../img/lchange.svg'); background-repeat:no-repeat; background-size:20px; background-position:1rem; }

article { line-height:1.5rem; }
article section { display:none; padding:2rem 1rem; }
article section.active { display:block; }
article h1 { font-size:1.35rem; font-weight:800; }
article h2 { font-size:0.9rem; color:#aaa; margin-bottom:0.5rem; }
article h3 { font-size:0.8rem; color:rgb(221 133 32); font-weight:600; }
article h3:not(:first-of-type) { margin-top:2rem; }
article em { font-weight:600; }
article .gallery { display:flex; flex-wrap:wrap; gap:0.5rem; margin-top:1.5rem; }
article .gallery button { position:relative; width:6rem; height:6rem; background-color:#333; font-size:0; overflow:hidden; }
article .gallery button img { width:100%; transition:all .2s ease-in-out; }

.about h1 { margin-bottom:1rem; }

.contact p a { color:rgb(221 133 32); font-weight:600; }
.contact form { display:block; width:100%; margin-top:2rem; }
.contact form fieldset { max-width:40rem; margin-bottom:2rem; }
.contact form fieldset.honeypot-field { display:none; }
.contact form fieldset p { font-size:0.9rem; }
.contact form fieldset input { border-bottom:1px solid #888; width:100%; padding:0.5rem; }
.contact form fieldset textarea { display:block; width:100%; background-color:#555; padding:0.5rem; margin-top:0.5rem; }
.contact form .sendbtn { width:100%; padding:0.5rem; max-width:40rem; background-color:#222; }
.contact form .sendbtn.hidden { display:none; }
.contact form .loading_message { display:none; color:rgb(221 133 32); }
.contact form .loading_message.active { display:block; }
.contact form .thankyou_message { opacity:0; visibility:hidden; transition:all .5s ease-in-out; }
.contact form .thankyou_message.active { opacity:1; visibility:visible; }

@media all and (min-width: 640px) {
    nav button:hover { background-color:#333; }
    article .gallery button:after { content:''; position:absolute; top:0; left:0; width:100%; height:100%; background-color:#000; opacity:.2; transition:all .2s ease-in-out; }
    article .gallery button:hover:after { opacity:0; }
    article .gallery button:hover img { transform:scale(1.06); }
    .about img { max-width:600px; }
    .contact form .sendbtn { transition:all .1s ease-in-out; }
    .contact form .sendbtn:hover { background-color:#333; }
}