@charset "UTF-8";
@font-face { font-family:pretendard; src:url('Pretendard-Regular.woff2') format('woff2'), url('Pretendard-Regular.woff') format('woff'), url('Pretendard-Regular.otf') format('opentype'), url('Pretendard-Regular.ttf') format('truetype'); font-weight:400; }
@font-face { font-family:pretendard; src:url('Pretendard-SemiBold.woff2') format('woff2'), url('Pretendard-SemiBold.woff') format('woff'), url('Pretendard-SemiBold.otf') format('opentype'), url('Pretendard-SemiBold.ttf') format('truetype'); font-weight:600; }
@font-face { font-family:pretendard; src:url('Pretendard-Bold.woff2') format('woff2'), url('Pretendard-Bold.woff') format('woff'), url('Pretendard-Bold.otf') format('opentype'), url('Pretendard-Bold.ttf') format('truetype'); font-weight:800; }

/* reset */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) { all: unset; display: revert; }
*, *::before, *::after { box-sizing: border-box; font: inherit; }
a, button { -webkit-tap-highlight-color: transparent; cursor: pointer; }
ol, ul, menu { list-style: none; }
img { max-width:100%; }
table { border-collapse: collapse; }
input, textarea { -webkit-user-select: auto; }
textarea { white-space: revert; }
meter { -webkit-appearance: revert; appearance: revert; }
:where(pre) { all: revert; }
::placeholder { color: unset; }
::marker { content: initial; }
:where([hidden]) { display: none; }
:where([contenteditable]:not([contenteditable="false"])) { -moz-user-modify: read-write; -webkit-user-modify: read-write; overflow-wrap: break-word; -webkit-line-break: after-white-space; -webkit-user-select: auto; }
:where([draggable="true"]) { -webkit-user-drag: element; }
:where(dialog:modal) { all: revert; }

/* variables */
:root {
    --default-font-weight: 400;
    --default-font-size: 16px/1;
    --default-font-family: pretendard, sans-serif;
    --color-black: #000;
    --color-white: #eee;
    --color-dark-gray: #555;
    --color-gray: #aaa;
    --wrap-width: 980px;
}

/* default */
:root { font: var(--default-font-weight) var(--default-font-size) var(--default-font-family); color: var(--color-white); }
html, body { min-width: 320px; }

/* common */
wrap { display: block; margin: 0 auto; max-width: var(--wrap-width); }
flex { display: flex; }
button { transition: 0.1s all ease-in-out; }
h1,
h2,
em { font-weight: 600; }
h3 { font-size:0.85rem; margin-bottom:1rem; color:#aaa; }
p { line-height: 1.5rem; }
p a { text-decoration: underline; text-underline-offset:0.1rem; }

/* layout */
body { background-color: var(--color-black); }

dim { position:fixed; width:100%; height:100%; background-color: rgba(0, 0, 0, 0.75); z-index: 11; display: none; }
dim.active { display: block; }
lightbox { position:absolute; top:1rem; left:1rem; width:calc(100% - 2rem); height:calc(100% - 2rem); background-repeat: no-repeat; background-position: center; background-size:contain; z-index: 12; }

header { position: sticky; top:0; background-color:#222; z-index: 10; }
header h1 { padding:0.75rem; user-select: none; }
header button { width:2.5rem; height:2.5rem; background-position: center; background-repeat: no-repeat; background-size: 1.25rem; text-align: center; font-size:0.9rem; }
header button#nav-about { background-image: url(../img/person.svg); }
header button#nav-work { background-image: url(../img/folder-closed.svg); }
header button#nav-contact { background-image: url(../img/mail.svg); }
header button#nav-lang::before { content:'EN'; }

header wrap > flex { justify-content: space-between; }
header nav flex { justify-content: center; }

main article { position:relative; padding:1.75rem 0.75rem; }
main section:not(#contact) article { border-bottom:1px solid #333; }
main article h1 { margin-bottom:1rem; color:rgb(247, 180, 57); }
main article h2 { margin-bottom:0.5rem; }
main article p { margin-top:0.75rem; }
work { display: block; }
work:not(:last-of-type) { margin-bottom:1.75rem; padding-bottom:1.75rem; border-bottom:1px dashed #333; }
imgslide { display: flex; gap:0.5rem; margin-top:1.25rem; flex-wrap: wrap; }
imgslide button { width:4.5rem; overflow: hidden; }

@media all and (min-width: 640px) {
    lightbox { top:2.5rem; left:2.5rem; width:calc(100% - 5rem); height:calc(100% - 5rem); }
    header button:hover { background-color:#333; }
    header button#nav-about:hover { background-image: url(../img/person-zoom.svg); }
    header button#nav-work:hover { background-image: url(../img/folder-opened.svg); }
    header button#nav-contact:hover { background-image: url(../img/mail-out.svg); }
    header button#nav-lang:hover::before { content:'KR'; }
    imgslide button { width:5.5rem; overflow: hidden; }
    imgslide button img { opacity:0.75; transition: 0.15s all ease-in-out; }
    imgslide button:hover img { opacity:1; transform:scale(105%); }
}