*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
body {
  min-height: 100vh;
}
h1,
h2,
h3,
h4,
button,
input,
label,
p,
a {
  line-height: 1.5;
  font-size: 1rem;
}
h1,
h2,
h3,
h4,
b {
  font-weight: 600;
  text-wrap: balance;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}
img,
picture {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}
textarea:not([rows]) {
  min-height: 10em;
}
:target {
  scroll-margin-block: 5ex;
}
a,
button {
  cursor: pointer;
  color: var(--color-co);
}
button {
  background: transparent;
  border: none;
}

@font-face {
  font-family: "Pretendard Variable";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url("PretendardVariable.woff2") format("woff2-variations");
}
:root {
  font-size: 16px;
  font-weight: 400;
  --color-co: #222;
  --color-bg: #fff;
  --color-hr: #ccc;
}
:root .dark {
  --color-co: #eee;
  --color-bg: #111;
  --color-hr: #444;
}
body {
  font-family: "Pretendard Variable";
  font-size: 1rem;
  color: var(--color-co);
  background-color: var(--color-bg);
  min-width: 20rem;
}
h1,
header nav button:hover {
  text-decoration: underline;
}
h1 {
  margin-bottom: 1rem;
}
h2 {
  margin-bottom: 0.5rem;
}
.wrap {
  width: 100%;
  max-width: 77rem;
  min-width: 20rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.links {
  display: block;
  margin-top: 0.5rem;
}
.links a {
  display: inline-block;
}
header,
section,
footer {
  padding: 1rem 0;
}
header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: var(--color-bg);
  border-bottom: 1px dashed var(--color-hr);
}
header .wrap {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header #logo {
  display: block;
  font-weight: 600;
}
header nav {
  display: flex;
  gap: 0.75rem;
  margin-right: 4.5rem;
}
.icon {
  position: absolute;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  top: 0;
  background-position: center;
  background-size: 1.25rem;
  background-repeat: no-repeat;
}
#translate.icon {
  right: 3rem;
  background-image: url(../img/toggle-language.svg);
}
#mode.icon {
  right: 1rem;
  background-image: url(../img/toggle-mode.svg);
}
.dark #translate.icon {
  background-image: url(../img/toggle-language-white.svg);
}
.dark #mode.icon {
  background-image: url(../img/toggle-mode-white.svg);
}
main {
  padding: 0.75rem 0;
}
section#work article {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.work {
  flex-basis: calc((100% - 3rem) / 3);
}
.work .imgwrap {
  margin-bottom: 0.5rem;
}
.work .list {
  height: 9rem;
  overflow: hidden;
}
.work._opened .list {
  height: auto;
  overflow: visible;
}
.work .list p {
  position: relative;
  padding-left: 0.75rem;
}
.work .list p::before {
  content: "• ";
  position: absolute;
  top: 0;
  left: 0;
}
.work .showmore {
  padding-left: 0.75rem;
}
.work .showmore::after {
  content: "More...";
}
.work.work._opened .showmore::after {
  content: "Less...";
}
footer {
  border-top: 1px dashed var(--color-hr);
}
.en .kor,
.ko .eng {
  display: none;
}

/* <= 800px */
@media screen and (max-width: 50rem) {
  .work {
    flex-basis: calc((100% - 1.5rem) / 2);
  }
  header nav button:hover {
    text-decoration: none;
  }
}
/* <= 600px */
@media screen and (max-width: 37.5rem) {
  header .wrap {
    flex-direction: column;
    gap: 0.5rem;
    padding: 0 2.5rem;
  }
  header nav {
    justify-content: center;
    margin-right: 0;
  }
  #translate.icon {
    right: auto;
    left: 1rem;
  }
  .work {
    flex-basis: 100%;
  }
}
